body{
    font-family: 'Open Sans',sans-serif;
    background-color: #761c19;
}

#main-form{
    padding:30px;
    margin:50px auto;
    width: 300px;
    text-align: center;
    background-color: #3c3c3c;
    color: white;
}