
body {
    font-family: 'Open Sans',sans-serif;
}

#main-container {
    margin:30px auto;
    text-align: center;
}

/* Title section */

#title-container{
    margin-bottom:60px;
}


/* Email boxes */
.user-title{
    margin: 0;
}

.user-title-pre{
    margin-bottom: 0;
}

.user-title-post{
    margin-top: 0.25em;
    height: 2em;
}

.colour-container{
    padding: 30px
}

.blurb{
    height: 12em;
}

#business-box{
    background-color: #2b669a;
}

#candidate-box{
    background-color: #2b542c;
}

#interested-box{
    background-color: #a13c05;
}

.email-box {
    color: #ffffff;
}

