{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inployment temp landing page</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'inployment_app/css/main.css' %}" media="screen">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'inployment_app/js/main.js' %}"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>

    <div id="main-container" class="container-fluid">
        <div id="title-container" class="container-fluid">
            <h1>INPLOYMENT</h1>
            <p>We connect people who need work but can't find it to companies
                who want to help but aren't sure how.</p>
        </div>

        {% block content %}
        {% endblock %}

        <h2>Who we are</h2>
        <a href="http://www.cantorandball.com/">www.cantorandball.com</a>

        <h2>Contact us</h2>
        <a href="mailto:hello@cantorandball.com?Subject=Hello">hello@cantorandball.com</a>

    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
