{% extends 'base.html' %}

{% block content %}
        <!--<form method="POST" class="form-group">
            {#csrf_token #}
            <input class="form-control" name="curious_email" id="curious-email" placeholder="Your email address"/>
        </form> -->

        <div class="row">
            <div class="col-sm-4 email-box" >
                <div class="colour-container" id="business-box">
                    <p class="user-title-pre">I am a</p>
                    <h2 class="user-title">Business</h2>
                    <p class="user-title-post">with a paid internship to offer</p>
                    <p class="blurb">blah blah blah yeah yeah jobs blah yes.</p>
                    <form method="POST" class="form-group">
                        <input class="form-control" name="business_email" id="business-email" placeholder="Your email address"/>
                        <button type="submit" class="btn btn-default" name="business">Submit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <div class="col-sm-4 email-box" >
                <div class="colour-container" id="candidate-box">
                    <p class="user-title-pre">I am a</p>
                    <h2 class="user-title">Candidate</h2>
                    <p class="user-title-post">or I represent someone who is</p->
                    <p class="blurb">Blah blah bandidate blah</p>
                    <form method="POST" class="form-group">
                        <input class="form-control" name="candidate_email" id="candidate-email" placeholder="Your email address"/>
                        <button type="submit" class="btn btn-default" name="candidate">Submit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <div class="col-sm-4 email-box" >
                <div class="colour-container" id="interested-box">
                    <p class="user-title-pre">I am just</p>
                    <h2 class="user-title">Interested</h2>
                    <p class="user-title-post">and want to know more</p>
                    <p class="blurb">Think you can help in another way, or interested to find out more about what we're doing? You can sign up here to be kept updated, or drop us a line.</p>
                    <form method="POST" class="form-group">
                        <input class="form-control" name="interested_email" id="interested-email" placeholder="Your email address"/>
                        <button type="submit" class="btn btn-default" name="interested">Submit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
{% endblock %}