{% extends 'base.html' %}

{% block content %}
        <!--<form method="POST" class="form-group">
            {#csrf_token #}
            <input class="form-control" name="curious_email" id="curious-email" placeholder="Email address"/>
        </form> -->

        <div class="row">
            <div class="col-sm-4 email-box" >
                <div class="blinds">
                    <div class="underbox" id="business-underbox">
                        <form method="POST" role="form">
                            <div class="form-group">
                                {{ business_form }}
                            </div>
                            <button type="submit" class="btn btn-default" name="business">Submit</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="colour-container" id="business-box">
                    <p class="user-title-pre">I am a</p>
                    <h2 class="user-title">Business</h2>
                    <p class="user-title-post">with a paid internship to offer</p>
                    <p class="blurb"></p>
                    <svg width=32px height=17px viewBox="0 0 60 32">
                        <path class="arrow" d="M0 4 L4 0 L30 24 L56 0 L60 4 L30 32 L0 4"></path>
                    </svg>
                </div>
            </div>
            <div class="col-sm-4 email-box" >
                <div class="blinds">
                    <div class="underbox" id="candidate-underbox">
                         <form method="POST" role="form">
                         <div class="form-group">
                         {{ candidate_form }}
                         </div>
                         <button type="submit" class="btn btn-default" name="candidate">Submit</button>
                         {% csrf_token %}
                         </form>
                    </div>
                </div>
                <div class="colour-container" id="candidate-box">
                    <p class="user-title-pre">I am a</p>
                    <h2 class="user-title">Candidate</h2>
                    <p class="user-title-post">or I represent someone who is</p>
                    <p class="blurb"></p>
                    <svg width=32px height=17px viewBox="0 0 60 32">
                        <path class="arrow" d="M0 4 L4 0 L30 24 L56 0 L60 4 L30 32 L0 4"></path>
                    </svg>
                </div>
            </div>
            <div class="col-sm-4 email-box" >
                <div class="blinds">
                    <div class="underbox" id="interested-underbox">
                         <form method="POST" role="form">
                         <div class="form-group">
                         {{ interested_form }}
                         </div>
                         <button type="submit" class="btn btn-default" name="interested">Submit</button>
                         {% csrf_token %}
                         </form>
                    </div>
                </div>
                <div class="colour-container" id="interested-box">
                        <p class="user-title-pre">I am just</p>
                        <h2 class="user-title">Interested</h2>
                        <p class="user-title-post">and want to know more</p>
                        <p class="blurb">Think you can help in another way, or interested to find out more about what we're doing? You can sign up here to be kept updated, or drop us a line.</p>
                        <svg width=32px height=17px viewBox="0 0 60 32">
                            <path class="arrow" d="M0 4 L4 0 L30 24 L56 0 L60 4 L30 32 L0 4"></path>
                        </svg>
                </div>
            </div>
        </div>
{% endblock %}