body {
    font-family: 'Open Sans', sans-serif
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6em;
}

a{
    color:  #000
}

a:hover{
    text-decoration: none;
}

/* Overwrite bootstrap col behaviour */
.col-sm-4{
    padding-left: 0;
    padding-right: 0;
    border-right: 15px solid;
    border-left: 15px solid;
}

#main-container {
    margin:30px auto;
    text-align: center;
}

/* Title section */

#title-container{
    margin-bottom:40px;
}


/* Email boxes */
.user-title{
    margin: 0;
}

.user-title-pre{
    margin-bottom: 0;
}

.user-title-post{
    margin-top: 0.25em;
    height: 2em;
}

.blinds{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 50;
    position: absolute;
}

.colour-container{
    padding: 30px;
    height: 100%
}

#business-box{
    background-color: #2b669a;
}

#candidate-box{
    background-color: #2b542c;
}

#interested-box{
    background-color: #a13c05;
}

.email-box {
    color: #ffffff;
    height: 22em;
}

.blurb{
    height: 10em
}

/* Underboxes */
.underbox{
    width: 100%;
    height: 100%;
    background-color: #3c3c3c;
    padding: 30px;
}

#business-underbox{}


/* Thank you */
#thanks-box {
    color: #fff;
    background-color: #095a09;
    padding: 45px 0;
}

/* Forms */

button {
    width: 100%;
    margin-top: 1em;
}

input {
    margin-bottom: 1em;
}

/* SVG styling */

.arrow {
    stroke: #FFF;
    fill: #FFF;
    stroke-width: 0px;
}

/* Errors */
ul.errorlist {
    list-style-type: none;
    text-align: center;
    color: red;
    padding: 0;
}
