
body {
    font-family: 'Open Sans', sans-serif
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6em;
}

#main-container {
    margin:30px auto;
    text-align: center;
}

/* Title section */

#title-container{
    margin-bottom:40px;
}


/* Email boxes */
.user-title{
    margin: 0;
}

.user-title-pre{
    margin-bottom: 0;
}

.user-title-post{
    margin-top: 0.25em;
    height: 2em;
}

.colour-container{
    padding: 30px
}

.blurb{
    height: 12em;
}

#business-box{
    background-color: #2b669a;
}

#candidate-box{
    background-color: #2b542c;
}

#interested-box{
    background-color: #a13c05;
}

.email-box {
    color: #ffffff;
}

/* Thank you */
#thanks-box {
    color: #fff;
    background-color: #095a09;
    padding: 45px 0;
}

/* Forms */
button {
    width: 100%;
    margin-top: 1em;
}

