{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inployment temp landing page</title>

    <!-- Get bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'inployment_app/css/main.css' %}" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="main-form">
        <h1>INPLOYMENT</h1>
        <h3>We put <strike>the</strike> an 'In' in 'Employment'</h3>
        <p>Want to find out more?</p>
        <form method="POST" class="form-group">
            {% csrf_token %}
            <input class="form-control" name="curious_email" id="curious-email" placeholder="Your email address"/>
        </form>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>